---
import Card from '../components/Card.astro';
import InfosPratiquesCard from '../components/InfosPratiquesCard.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---
<style>
  .cards, .localisation{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

  h1,h2 {
    display: flex;
    justify-content: center;
  }
</style>

<BaseLayout title="Accueil | Runatika">
  <h1>Meilleur bar a Jeux de Lille<h1>
  <h2>espace bar, salle de jeux avec événements quotidiens</h2>
  <div class="cards">
    <Card
        title="Bar"
        description="L’aventure commence ici !"
        image="/src/images/barimg.jpg"
        ctaText="Voir la carte"
        ctaLink="/src/assets/Atmos Arena - Carte du bar (web).pdf"
      />
      <Card
        title="Salle de jeux"
        description="Le plaisir de jouer !"
        image="/src/images/barjeu.jpg"
        ctaText="Reservé une table"
        ctaLink="/src/assets/Atmos Arena - Carte du bar (web).pdf"
      />
      <Card
        title="Boutique TCG"
        description="Des centaines de références : cartes à l'unité, accessoires, produits scellés !"
        image="/src/images/philibert-JCC.jpg"
        ctaText="Vers la boutique"
        ctaLink="/src/assets/Atmos Arena - Carte du bar (web).pdf"
      />
    </div>
    <h2>Où nous trouver et horraire</h2>
    <div class="localisation">
      <InfosPratiquesCard
      mapUrl="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2533.726586119802!2d3.0963136!3d50.6313347!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c2d59c32e90b0f%3A0xf09d27554e0e62e0!2sFives%20Cail!5e0!3m2!1sfr!2sfr!4v1694468462335!5m2!1sfr!2sfr"
      adresse="Fives Cail, Lille"
      />
    </div>
</BaseLayout>
