---
import Navigation from './Navigation.astro';
---
<header>
  <p style="display: flex; justify-content: center; color: red;">Ouverture Du bar à Lille Vendredi 25 Jun 2026<p>
  <nav>
    <Navigation />
  </nav>
</header>