---
---

<style>
  .socials{
    display: flex;
    flex-direction: row;
    align-content: space-between;
    gap: 20px;
  }
  .socials a {
    text-decoration: none;
    color: var(--color-border);
  }
</style>

<div class="socials">
  <a href="tel:+33626041802" aria-label="Telephone">Téléphone : 06 26 04 18 02</a>
  <a href="https://discord.gg/tknYrFGB" aria-label="Discord">Discord</a>
</div>