---
import Footer from "../components/Footer.astro";
import Navbar from "../components/Navbar.astro";
const { title = "Runatika - Bar ludique", children } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap" rel="stylesheet" />
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    
    
    <style>
      /* dark mode */
      :root {
        --color-bg: #1a0f1f;
        --color-text: #eee;
        --color-accent: #FFAE42;
        --color-accent-dark: #ffc76a;
        --color-border: #8C5B9E;
        --color-header: #5A326E;
      }

      /* light mode */
      :root {
        --bg-nav: rgb(255, 255, 254);
        --text-color: rgb(232, 25, 6);
        --text-color-bis: rgb(60, 60, 60);
        --accent-color: rgb(90, 50, 110);
        --button-color: rgb(255, 174, 66);
      }

      html, body {
        height: 100%;
        margin: 0;
        background-color: var(--color-bg);
        color: var(--color-text);
        display: flex;
        flex-direction: column;
      }

      body {
        margin: 0;
        background-color: var(--color-bg);
        color: var(--color-text);
        font-family: 'Orbitron', sans-serif;
        min-height: 100vh;
      }

    </style>
  </head>
	<body>
    <Navbar/>
    <main>
      {children}
    </main>
		<slot />
	</body>
</html>
